name: Deployment

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Deploy to VPS
              uses: appleboy/ssh-action@v1.2.4

              with:
                  host: ${{ secrets.DEPLOY_HOST }}
                  username: ${{ secrets.DEPLOY_USER }}
                  key: ${{ secrets.DEPLOY_KEY }}
                  port: ${{ secrets.DEPLOY_PORT }}
                  script: |
                      cd ./sigmaquotes
                      git pull origin main
                      sudo docker compose up -d --build
